<pre>
Monkey Flyer - Radio Protocol :: DEATH-CLAW :: (alpha)

API

GET  /
  => This page

POST /deathclaw
  => text about deathclaw stats
==
</pre>
<h3>
Abouth Deathclaw : http://fallout.wikia.com/wiki/Deathclaw
</h3>
<p>
Around 2161, deathclaws were still mysterious and legendary creatures to many inhabitants of southern California. They could only be found in the Boneyard at the Warehouse, with a mother living here, one in a former deathclaw's nest and around the Hub, some times attacking caravans or travelers. Later, as the deathclaw population grew and really spread across the continent, the deathclaws stopped being perceived as legendary beasts, and started to be seen just as another dangerous creature. 
</p>
